@using SFA.DAS.EmployerRequestApprenticeTraining.Infrastructure.Api.Responses
@model SFA.DAS.EmployerRequestApprenticeTraining.Web.Models.EmployerRequest.ILocationsViewModel
@if (string.IsNullOrEmpty(Model.SameLocation) || Model.SameLocation == "Yes")
{
    @Model.SingleLocation
}
else if(Model.Regions != null)
{
    var locations = Model.GetMultipleLocations();
    if(locations.Count > 1)
    {
        <ul class="govuk-list govuk-list--bullet">
            @foreach (var location in locations)
            {
                <li>@location</li>
            }
        </ul>
    }
    else
    {
        @locations[0]
    }
}