@using SFA.DAS.EmployerRequestApprenticeTraining.Web.Extensions
@using SFA.DAS.EmployerRequestApprenticeTraining.Infrastructure.Configuration
@using SFA.DAS.EmployerRequestApprenticeTraining.Domain.Types
@model SFA.DAS.EmployerRequestApprenticeTraining.Web.Models.GetViewEmployerRequestsViewModel

@{
    ViewData["Title"] = "View employer requests";
    ViewBag.GaData.Vpv = "/accounts/employerrequests/create";
}

<main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">View employer requests</h1>
                <div class="govuk-grid-column-full">
                @foreach(var employerRequest in Model.EmployerRequests)
                {
                    <span>@employerRequest.Id</span>
                    <span>@employerRequest.RequestType</span>
                    <span>@employerRequest.AccountId</span>
                }
            </div>
        </div>
    </div>
</main>